button{
    font-weight: 500;
    border-radius: 40px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 7.5px;
    height: 35px;
    min-width: 120px;
    display: block;
    opacity: .9;
    &:focus{
        box-shadow: 0 0 0pt 1pt #645a53;
        outline: none;
    }
    &:hover{
        opacity: 1;
    }
}


