.smallTitle {
    color: #645a53;
    font-size: 1.25rem;
    font-weight: 700;
    // margin-bottom: 1rem;
    line-height: 1.5;
}

label {
    line-height: 2.5;
    margin-left: 15px;
}
.courseItem {
    margin: 30px;
    .courseName {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .courseDescription {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.courseImg {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 15px;
}
// @media screen and (min-width: 1200px) {
//     .courseImg {
//         transform: translate(calc((100vw - 1140px) / (-2) - 15px), -100px);
//     }
// }
// @media screen and (min-width: 992px) and (max-width: 1200px) {
//     .courseImg {
//         transform: translate(calc((100vw - 960px) / (-2) - 15px), -100px);
//     }
// }
@media screen and(max-width: 575px) {
    .courseImg {
        width: 50px;
        height: 75px;
        object-fit: cover;
        border-radius: 5px;
    }
}
// @media screen and (min-width: 576px) and (max-width: 768px) {
//     .courseImg {
//         width: 150;
//         height: 225;
//         object-fit: "cover";
//         border-radius: 15;
//     }
// }

button.icon {
    min-width: 30px;
    padding: 0px;
    margin: 0px;
    svg {
        width: 25px;
        margin-left: 1rem;
        display: inline;
    }
    &:focus {
        box-shadow: none;
    }
}
