label {
    line-height: 2.5;
    margin-left: 15px;
}
button.icon {
    min-width: 30px;
    padding: 0px;
    margin: 0px;
    svg {
        width: 25px;
        display: inline;
    }
    &:focus {
        box-shadow: none;
    }
}

form.searchForm {
    border-bottom: 1px solid #645a53;
    display: flex;
    input {
        width: 80%;
        min-width: unset;
        border: none;
        display: block;
    }
}

.courseList {
    margin-top: 60px;
    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftItemsContainer {
            display: flex;
            align-items: center;
        }
    }
    .courseContainer {
        padding: 30px 0;
        background-color: white;
        border-radius: 20px;
    }
}
