.item {
    width: 175px !important;
    height: 275px;
    border-radius: 20px;
    margin: auto;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin: 7px;
}


.badge {
    top: 0;
    position: absolute;
    height: 25px;
    width: 60px;
    background-color: tomato;
    display: inline-flex;
    font-size: .75rem;
    border-radius: 20px;
    margin: 10px;
    color: white;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
}

.itemContent {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: #303030e6;
    font-weight: 400;
    text-align: center;
    height: 6.75rem;
    p {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.item:hover .courseOverlay {
    opacity: 1;
    cursor: pointer;
}

.courseOverlay {
    opacity: 0;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #303030e6;
    color: white;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2%;
    line-height: 1.6;
    top: 0;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }
}

.courseOverlay p {
    height: calc(100% - 20px);
    overflow: hidden;
    margin-bottom: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itemContent p {
    margin: 0;
}
.outline {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    border: solid 1px #b1aca9;
}

.rate {
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

img.star {
    width: 15px !important;
    height: 15px;
    /* display: inline !important; */
    position: static;
    display: inline-block;
    margin: 0 2px;
}
