footer {
    margin-top: 42px;
    background-color: white;
    border-top: 1px solid #dee2e6;
    z-index: 10;
    .row {
        align-items: center;
        .companyInfo {
            padding: 0 42px;
            margin-top: 42px;
            color: #a2a2a2;
            line-height: 2;
            p {
                margin: 0;
            }
            span {
                text-align: center;
            }
            .socialNetwork {
                text-align: center;
                margin-top: 1rem;
            }
            img {
                width: 50px;
            }
        }
    }
    .copyright {
        padding: 15px;
        color: #a2a2a2;
        text-align: center;
        margin: 0;
    }
}

hr {
    margin: 0;
    margin-top: 42px;
}

*:focus {
    outline: none;
}
