button {
    font-weight: 500;
    border-radius: 40px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 7.5px;
    height: 35px;
    min-width: 120px;
    display: block;
    opacity: 0.9;
    &:focus {
        box-shadow: 0 0 0pt 1pt #645a53;
        outline: none;
    }
    &:hover {
        opacity: 1;
    }
}
.brownOutlineBtn {
    border: 1px solid #645a53;
    color: #645a53;
}

.brownSolidBtn {
    border: 1px solid #645a53;
    background-color: #645a53;
}
.redOutlineBtn {
    border: 1px solid #fd4646;
    color: #fd4646;
}

.redSolidBtn {
    border: 1px solid #fd4646;
    background-color: #fd4646;
}

.bigBtn {
    font-size: 1.25rem;
    height: 70px;
    padding: 15px;
}

.smallBtn {
    font-size: 1rem;
    height: 35px;
}

.mediumBtn {
    font-size: 1rem;
    height: 50px;
}

.simpleBtn {
    color: #645a53;
    a {
        color: #645a53;
    }
}
